<ion-view view-title="{{conta}}">
    
    <ion-content>
        
        <div class="list card"  ng-repeat="conta in contas">
            
            <a class="item item-thumbnail-left" href="#" ng-click="abreModal()">
                <h2>Requerir valor total da Conta</h2>
            </a>
            
            <button class="button button-full button-positive" ng-click="abreModal()"> Fechar Conta</button>
        </div>
        
    </ion-content>
    
  
              
       
</ion-view>