<ion-view view-title="Together Lanches" >
    
    <ion-content>
        
        <ion-slide-box on-slide-changed="slideHasChanged($index)">
            <ion-slide>
                <div class="col"><img class="full-image" src="/img/26586.jpg"></div>
            </ion-slide>
            <ion-slide>
                <div class="col"><img class="full-image" src="/img/26586.jpg"></div>
            </ion-slide>
            <ion-slide>
                <div class="col"><img class="full-image" src="/img/26586.jpg"></div>
            </ion-slide>
        </ion-slide-box>

        
        <div class="row sliderTop">
            
            <div>
                <h3 class="colorB alt margin-l1">Conheça nossas Promoções!</h3>
            </div>
        
        </div>
                
        
        <div class="row">
            
            <div class="alt2">
                <h4 class="colorA  margin-l2">Faça o cadastro e peça pelo Delivery!</h4>
                <h4 class="colorA  margin-l3">Telefone: (43) 3344-5566</h4>
            </div>
        
        </div>
        
        <div class="row sliderTop">
            <h3 class="colorB margin-l4">Conheça Nosso outro endereço!</h3>
        </div>
        
       <img class="full-image" src="/img/Capturar.JPG">
       
        
    </ion-content>
    
    <div class="bar bar-footer bar-energized footer">
        <div class="title">Aplicação Ilustrativa</div>
    </div>
    
</ion-view>